@import "./Variable.scss";
.FaqSection{
  .FaqSection-Card{
    border: 1px solid #DDE1E6;
    h5{
      font-family: $Roboto_family;
      font-size: 20px;
      font-weight: 700;
      line-height: 22px;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color:$color_21272A;
    }
    span{
      color:$color_21272A;
    }
  }
}