@import "./Variable.scss";

.Scholarship {
  .img-section {
    margin-top: -70px;
    position: relative;
    margin-left: -20px;
    z-index: 1;
    width: 343px;
    height: 325px;
  }
  .Scholarship_Card {
    margin-right: 120px;
    margin-left: 100px;
    box-shadow: 9px 13px 17.4px -0px #00000040;
    position: absolute;
    padding-left: 208px;
    h2 {
      font-family: $Montserrat_Font;
      font-size: 34px;
      font-weight: 700;
      line-height: 40.7px;
      color: $TextColor21272A;
    }
    p {
      font-family: $Montserrat_Font;
      font-size: 18px;
      font-weight: 300;
      line-height: 31.32px;
    }
  }
}

@media (max-width: 480px) {
  .Scholarship {
    .Scholarship_Card {
      margin-right: 20px;
      margin-left: 20px;
      padding-left: 10px;
      h2 {
        font-size: 18px;
        line-height: 26px;
      }
      p {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
}
