$h1_Heading_FontSize: 90px;
$Montserrat_Font: "Montserrat";
$heading_font_color: #ffffff;
$button_color: #161c2d;
$font_family_Roboto: "Roboto";
$H1_text-backgroundColor: linear-gradient(
  90deg,
  #7367f0 25.19%,
  #edaef8 89.31%
);
$H6_TextColor: #001d6c;
$Roboto_family: "Roboto";
$LearningSectionBg_Color: #f0effe;
$TextColor697077: #697077;
$TextColor21272A: #21272a;
$IconColor: #c1c7cd;
$ColorText111111: #111111;
$ButtonColor_7848F4: #7848f4;
$h3TextColor_000000AB: #000000ab;
$fontFamilyPoppins: "Poppins ";
