$h1_Heading_FontSize : 90px;
$Montserrat_Font : "Montserrat";
$heading_font_color: #FFFFFF;
$button_color: #161C2D;
$font_family_Roboto: "Roboto";
$H1_text-backgroundColor: linear-gradient(90deg, #7367F0 25.19%, #EDAEF8 89.31%);
$H6_TextColor: #001D6C;
$Roboto_family:"Roboto";

// LearningSection BAckgroundColor:
$LearningSectionBg_Color: #F0EFFE;
$TextColor697077: #697077;
$TextColor21272A: #21272A;
$IconColor: #C1C7CD;

//  FAQ section 
$color_21272A : #21272A;

//  Registration Section
$ColorText111111: #111111;

// Bootcamp section 
$ButtonColor_7848F4 : #7848F4;
$font_Color_ffffff : #ffffff;

// LEarningObjective Section:

$Text_Color_111111 :#111111;

// Problemsolving section
$h3TextColor_000000AB:#000000AB;
$fontFamilyPoppins: "Poppins ";